{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index">Service Delivery Manual</a>
        </li>
      </ol>
    </div>
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual">GOV.UK Service Toolkit</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/guidance-and-tools">DfE guidance and tools</a></li>
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/assessments">Assessments</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/in-house-services">In-house services</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/training">Training</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Assessments</h1>
      <p class="govuk-body">All our digital, data and technology services need to have assessments.</p>
      <div class="govuk-inset-text">
      This is "for now" text. The page will be designed by the Head of Service Assessments.</div>


<ul class="govuk-list">
      <a href="#" class="govuk-heading-s">How to book a DfE internal assessment</a>
      <a href="#" class="govuk-heading-s">Introduction to the Digital Service Standard</a>
      <a href="#" class="govuk-heading-s">Mock service assessment</a>
      <a href="#" class="govuk-heading-s">How to become a DfE service assessor</a>
      <a href="#" class="govuk-heading-s">Digital Service Standard health check</a>
      <a href="#" class="govuk-heading-s">GDS service assessment reports</a>
    </ul>

    </div>

  </div>




  {% endblock %}
