{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="https://www.gov.uk/service-manual" data-topnav="Get started">GOV.UK Service Manual</a>
    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/guidance-and-tools" data-topnav="Get started">DfE guidance and tools</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/assessments" data-topnav="Get started">Assessments</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/in-house-services" data-topnav="Get started">In-house services</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/training" data-topnav="Get started">Training</a>

  </ul>
</div>
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="guidance-and-tools">DfE guidance and tools</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/intro-to-design">Design</a>
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="intro-to-design">Introduction</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/principles">Principles</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/accessibility-design">Accessibility</a></li>
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/content-style-guide">Content style guide</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/UI-design-system">UI styles, components and patterns</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/front-end-library">Front-end library</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Content style guide</h1>
      <div class="govuk-inset-text">
        This is "for now" text. The page will be designed by the Heads of Service, Content and Interaction Design in collaboration with the DfE design community.</div>
      <a href="#" class="govuk-heading-m">How we write</a><p class="govuk-body">Our general principles.</p>
      <a href="#" class="govuk-heading-m">Voice and tone</a><p class="govuk-body">The way we talk in different contexts.</p>
      <a href="#" class="govuk-heading-m">Inclusive language</a><p class="govuk-body">Writing for everyone in a way that's inclusive and respectful.</p>
      <a href="#" class="govuk-heading-m">A to Z of writing for education, training and care</a><p class="govuk-body">Words and phrases which make our content easy to understand</p>
      <a href="#" class="govuk-heading-m">Number, measurements, dates and time</a><p class="govuk-body">Number, measurements, dates and time.</p>
      <a href="#" class="govuk-heading-m">Formatting and punctuation</a><p class="govuk-body">From abbreviations to question marks.</p>
      <a href="#" class="govuk-heading-m">Links and PDFs</a><p class="govuk-body">Writing good links and making PDFs accessible</p>

      <h3 class="govuk-heading-m">Using the style guide</h3>
      <p class="govuk-body">This style guide is for anyone creating content for DfE, to help make things clear and consistent across all of our services.</p>
      <p class="govuk-body">It’s meant as a guide, not a rulebook. You’re welcome to adapt a style pattern if it does not meet your users’ needs.</p>

      <h3 class="govuk-heading-m">In progress</h3>
      <p class="govuk-body">The guide will grow and change as we learn more about the language and writing styles that work best for our users.</p>
      <p class="govuk-body">Join the service manual Slack workspace or email <a href="mailto:service-manual@digital.education.gov.uk">service-manual@digital.education.gov.uk</a>to hear about and discuss changes. </p>
      <p class="govuk-body">Check the <a href="https://www.gov.uk/guidance/style-guide/a-z-of-gov-uk-style">GOV.UK A to Z style guide</a> and the <a href="https://www.gov.uk/guidance/content-design">GOV.UK content design guide</a> for any points of style that you do not find here. If it’s not there, we recommend using the Oxford Dictionary for Writers and Editors.</p>
      <h3 class="govuk-heading-m">Contribute</h3>
      <p class="govuk-body">Let us know if you <a href="/contribute">design a new content pattern or find new evidence</a> on content style.</p>
    </div>
  </div> {% endblock %}
