
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}
<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title govuk-!-margin-top-9">Service Delivery Manual</h1>
        <div class="hero__inline-image">
          <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
        </div>
        <p class="hero__description"> Design, build and run great public services for the Department for Education.        </p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="https://www.gov.uk/service-manual" class="govuk-heading-m">GOV.UK Service Manual
       </a>
    <p class="width-limit">The government standards your team needs to work to, and the guidance and tools to support them.</p>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="/guidance-and-tools" class="govuk-heading-m">DfE guidance and tools
       </a>
    <p class="width-limit">The departmental things you need to build and run your service, including the design system.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="/assessments" class="govuk-heading-m">Assessments in DfE
       </a>
    <p class="width-limit">All services need an assessment. We provide training and consultancy to help your team prepare.</p>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="/in-house-services" class="govuk-heading-m">Find in-house support and services
       </a>
    <p class="width-limit">From participant recruitment for research to accessibility audits.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="/training" class="govuk-heading-m">Find and book training
       </a>
    <p class="width-limit">Find and book the training you need to work on a service deliver team in DfE</p>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column govuk-!-padding-left-3 govuk-!-padding-top-3">

    <h1 class="govuk-heading-l">About</h1>
      <p>
        This work is led by the DDaT heads of profession, who help DfE service owners and their teams create and run great services that meet government standards.
      </p>

      <p>
        This website is the place where DDaT delivery teams can find and publish information on building and running services at DfE.
      </p>

      <h2 class="govuk-heading-m">How to publish to the Service Delivery Manual</h2>

      <p>Your content must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a valid user need</li>
        <li>be approved by a head of profession</li>
        <li>have an owner who will keep the content up to date and be a point of contact</li>
      </ul>
      <p>A content designer will work with you to get your content in the right place and in the right style.</p>
        <p class="govuk-body">Email <a href="#">person</a> with your content or questions.</p>

        <p class="govuk-body govuk-!-padding-bottom-6"> You are always welcome to send feedback.</p>

    </div>
  </div>
</div>
</div>
{% endblock %}
