{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">GOV.UK Service Toolkit</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">DfE guidance and tools</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">Assessments</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">In-house services</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">Training</a>

  </ul>
</div>
<div class="govuk-width-container">
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/colour/">Introduction</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">User research in discovery</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">User research in alpha</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">User research in beta</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">User research in live</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/needs">User needs library</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/UserResearch">User research library</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Participant recruitment</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Participant consent management</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text">
This is "for now" text. The page will be designed by the ResearchOps Lead and Head of User Research in collaboration with the DfE user research community.</div>
      <h1 class="govuk-heading-xl">Introduction to user research</h1>
      <p class="govuk-body">User research is a thriving discipline at the Department for Education. User researchers work across the department, gaining insight into our users to improve services for the public and civil servants.</p>

      <h3 class="govuk-heading-m">When you join us</h3>
      <p class="govuk-body">When you start as a user researcher at the DfE you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>go to the <a href="#">ethics induction</a> and sign up to our policy on data use and protection in research</li>
        <li>follow the <a href="#">Market Research Society's code of conduct</a></li>
        <li>get involved in the user research community by going to meet ups, talks and events. To join email <a href="mailto:audree.fletcher@digital.education.gov.uk">audree.fletcher@digital.education.gov.uk</a></li>
        <li>have an owner who will keep the content up to date and be a point of contact</li>
        <li>read the <a href="#">GOV.UK Service Manual</a></li>
      </ul>

      <h3 class="govuk-heading-m">How user research works in DfE</h3>
      <p class="govuk-body">You should be doing different things at different times, so we've sructured our guidance around the stages of an agile project:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>discovery is exploring the problem space</li>
        <li>alpha is learning what works best</li>
        <li>beta is building and refining the best option</li>
        <li>live is running and improving.</li>
      </ul>

      <h3 class="govuk-heading-m">What you must do at every stage</h3>
      <p class="govuk-body">Although you’ll be doing different things at each phase, you must have one person with an access need in each round of research or testing. This helps teams build accessible services. You’ll need to dedicate some rounds of research access needs.</p>
      <p class="govuk-body">Everyone in your team should spend 2 hours every 6 weeks observing user research. This helps us build empathy with users.</p>
      <p class="govuk-body">Read about how we approach user research in DfE in these guides</p>
      <ul class="govuk-list govuk-list--bullet">
         <li><a href="/user-research-in-discovery">Discovery phase user research</a></li>
        <li><a href="/user-research-in-alpha">Alpha phase user research</a></li>
        <li><a href="/user-research-in-beta">Beta phase user research</a></li>
        <li><a href="/user-research-in-live">User reserch in live services.</a></li>
      </ul>

      <h3 class="govuk-heading-m">Building our collective knowledge</h3>
      <p class="govuk-body">We want knowledge gained through user research to be findable, relevant, contextualised and understandable. We’ve built a <a href="/UserResearch">user research library</a> to allow us to do just that - and avoid:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>duplication of work</li>
        <li>participant fatigue</li>
        <li>lack of an overall picture to help prioritise business and user needs</li>
      </ul>
      <p class="govuk-body">We expect all user researchers in DfE to share their research with the wider community, including by sharing their research outputs in our research library</p>
      <h3 class="govuk-heading-m">Managing user research participant data and consent</h3>
      <p class="govuk-body">You must manage the user research data and participant details you collect so that you protect participants’ provacy and comply with the law. This includes collecting and managing informed participant consent. User researchers are expected to use the <a href="/user-research-in-discovery">consent management system</a> to ensure that consent expiry and withdrawal can be managed by the central DDaT team long after projects have ended.</p>

    </div>
   </div> {% endblock %}
