{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block main %}
<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title govuk-!-margin-top-9">Service Delivery Manual</h1>
        <div class="hero__inline-image">
          <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
        </div>
        <p class="hero__description">This website is run by the central Department for Education Digital, Data and Technology (DDaT) team.
        </p>
        <p class="hero__description">This website is the place where service delivery teams can find and publish information on building and running services at DfE.
        </p>
        <a href="/index" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Explore the manual
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service Delivery Manual
        <span class="govuk-caption-xl">v0.0.1</span>
      </h1>{{releaseVersion | log }}

    <h2 class="govuk-heading-m">About</h2>
      <p>
        This work is led by the DDaT heads of profession, who help DfE service owners and their teams create and run great services that meet government standards.
      </p>

      <p>
        This website is the place where DDaT delivery teams can find and publish information on building and running services at DfE.
      </p>

      <h2 class="govuk-heading-m">How to publish to the Service Delivery Manual</h2>

      <p>Your content must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a valid user need</li>
        <li>be approved by a head of profession</li>
        <li>have an owner who will keep the content up to date and be a point of contact</li>
      </ul>
      <p>A content designer will work with you to get your content in the right place and in the right style.</p>
        <p class="govuk-body">Email <a href="#">person@digital.education.gov.uk</a> with your content or questions.</p>

        <p> You are always welcome to send feedback.</p>

    </div>
  </div>
</div>

{% endblock %}
