
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__list-item--current app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">Research library</a>
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/needs" data-topnav="Get started">User needs</a>
            </ul>
          </div>
          <div class="govuk-width-container">
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Search for needs</h3>
      </div>
      <div class="govuk-grid-column-two-thirds">

        {% for need in needs %}


          <span class="govuk-caption-m">
            {% if need.id == true %}
              <span class="govuk-tag govuk-phase-banner__content__tag">EPIC</span>
            {% endif %}
            ID: {{ need.id }}
          </span>
          <a href="{{ need.researchLocation }}" class="govuk-heading-m">{{ need.story }}</a>
          <p>
            <strong>Service: </strong> {{ need.service }}<br>
            <strong>Service Pattern: </strong> {{ need.servicePattern }}
          </p>
          <hr class="govuk-section-break govuk-!-margin-top-6 govuk-!-margin-bottom-4 govuk-section-break--visible">

        {% endfor %}

      </div>
    </div>

{% endblock %}
