{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="https://www.gov.uk/service-manual" data-topnav="Get started">GOV.UK Service Toolkit</a>
    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/guidance-and-tools" data-topnav="Get started">DfE guidance and tools</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/assessments" data-topnav="Get started">Assessments</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/in-house-services" data-topnav="Get started">In-house services</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/training" data-topnav="Get started">Training</a>

  </ul>
</div>
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/guidance-and-tools">DfE guidance and tools/a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/intro-to-delivery">Intro to delivery</a>
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/colour/">Introduction</a></li>
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="service-owner-guidance">Service ownership</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Agile delivery and working practice</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="transformation-aims">Transformation aims</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="servicelist">List of DfE services</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/ddat-business-partners">DDaT business partners</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Introduction to service ownership</h1>
      <div class="govuk-inset-text">
        This is "for now" text. The page will be designed by the head of profession for service design and service ownership in collaboration with the DfE service owner community.</div>
      <p class="govuk-body"></p>

      <h3 class="govuk-heading-m">What is a service?</h3>
      <p class="govuk-body">A ‘service’ describes the end-to-end journey that helps someone to achieve something – e.g. from deciding to become a teacher to stepping into a classroom, or applying to convert a school to an academy from start to
        finish. It is something defined from the user’s experience, rather than from ours. Services often depend on elements provided by other organisations. In government, standard practice is to name services by how a user would think of them or
        search for them online - eg ‘get a passport’, ‘become a teacher’, ‘learn to drive’ or ‘become an apprentice’. </p>
      <p class="govuk-body">Services can include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>everything government and others do to achieve the desired outcome, such as provider partnerships and process</li>
        <li>everything a user does, from finding out about what to do, choosing to do it, and working within the rules of the services</li>
        <li>all interactions in the service, regardless of channel, from online to offline to call centre.</li>
      </ul>
      <p class="govuk-body">There are often complex interdependencies. For example, providing a great experience for apprenticeships is dependent on employers creating great vacancies, not just a good online experience for potential apprentices.</p>
      <p class="govuk-body">Across both private and public sector, there is a broad shift to owning, managing and measuring services end to end. This is driven by the necessity to optimise design and performance, deliver better outcomes and drive
        down support costs. This failure demand - a "failure to do something right for the customer" - can cause up to 8-% of demand for government and local authority interactions with users.</p>
      <p class="govuk-body">In practice, becoming service delivery oriented - where the bulk of our interactions with users are developed and managed as part of a larger service - requires government to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>identify the services as users know them</li>
        <li>understand how different areas of our work affects the same users</li>
        <li>agree service and policy outcomes for what good looks like and how to measure it</li>
        <li>own change end-to-end to ensure that policy design and delivery work together as complimentary disciplines and </li>
        <li>develop the business capability to support multiple services using common infrastructure and tools</li>
      </ul>

      <h3 class="govuk-heading-m">What is a service owner?</h3>
      <p class="govuk-body">A ‘service owner’ is the individual responsible for the end-to-end delivery of the service, including both the articulation of the policy outcome and the meeting of user needs. They need to have the skills and experience to understand and deliver the ministerial ambition with a knowledge of how to lead multidisciplinary teams to make sure this is realised within a user-centred way. </p>
      <p class="govuk-body">This is a rare combination of skills. Service owners need to understand how to translate ministerial ambition into policy design; understand how to design and run public-facing services that meet users’; and be able to convince stakeholder of the value of the service, influencing a large number of teams to work across an organisation to get things done.</p>

      <h3 class="govuk-heading-m">Support for service owners</h3>
      <p class="govuk-body">Alongside Data and Technology, Digital supports service owners by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>providing guidance and expertise on how to design and manage services</li>
        <li>owning, developing and protecting standards fro DDaT professions and capability</li>
        <li>setting and protecting standards and managing the government service standard assessment process</li>
        <li>advising on governance for good approaches to services, including things like supporting or enforcing re-use of componeonts e.g. common technology platforms, common design patterns, good practice solutions for common service problems</li>
        <li>setting and protecting technology standards, architecture standards and codes of practice</li>
        <li>setting and protecting approaches to data to maximise interoperability, security and privacy</li>
        <li>developing common products and platforms e.g. common CRM system - for service teams to make use of more efficiently than developing their own</li>
        <li>growing and developing capability across the department - coaching, training, mentoring and shadowing.</li>
      </ul>
    </div>
  </div> {% endblock %}
