{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="service-delivery-manual">Service Delivery Manual</a>
      </li>
    </ol>
  </div>
<div class="govuk-width-container">

  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/service-manual">GOV.UK Service Toolkit</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/guidance-and-tools">DfE guidance and tools</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/assessments">Assessments</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/in-house-services">In-house services</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/training">Training</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find and book training</h1>
      <p class="govuk-body">Internal training to supplement the digital and technology training available at Civil Service Learning and the GDS Academy.</p>


<ul class="govuk-list">
      <a href="#" class="govuk-heading-s">Accessibility
      </a>
      <a href="#" class="govuk-heading-s">Delivery
      </a>
      <a href="#" class="govuk-heading-s">Design
      </a>
      <a href="#" class="govuk-heading-s">User research
      </a>
      <a href="#" class="govuk-heading-s">Engineering and architecture
      </a>
      <a href="#" class="govuk-heading-s">Performance analytics and data
      </a>
      <a href="#" class="govuk-heading-s">Service Standard and assessments
      </a>
      <a href="#" class="govuk-heading-s">Service ownership
      </a>
    </ul>

    </div>

  </div>




  {% endblock %}
