{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="https://www.gov.uk/service-manual" data-topnav="Get started">GOV.UK Service Toolkit</a>
    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/guidance-and-tools" data-topnav="Get started">DfE guidance and tools</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/assessments" data-topnav="Get started">Assessments</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/in-house-services" data-topnav="Get started">In-house services</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/training" data-topnav="Get started">Training</a>

  </ul>
</div>
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/guidance-and-tools">DfE Guidance and tools/a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/intro-to-delivery">Delivery</a>
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/colour/">Introduction</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="service-owner-guidance">Service ownership </a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Agile delivery and working practice</a></li>
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="transformation-aims">Transformation aims</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="servicelist">List of DfE services</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/ddat-business-partners">DDaT business partners</a></li>
          </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Transformation aims</h1>
      <div class="govuk-inset-text">
This is "for now" text. The page will be designed by Head of Transformation in collaboration with the DDaT and service owner communities.</div>
<h3 class="govuk-heading-m">When you join us</h3>
<p class="govuk-body">The DfE senior leadership challenged us to become more delivery-focused as a department.</p>
  <p class="govuk-body">We need to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Become an organisation that knows how to deliver and enable excellent, joined-up public services</li>
    <li>Connect the work we do more closely to desird policy, user and provider outcomes</li>
    <li>Focus ongoing investment and effort on better achieving these outcomes</li>
    <li>Drive down the effort and cost of achieving these outcomes</li>
  </ul>
  <p class="govuk-body">We will approach this gradually and iteratively, growing into our transformation aims:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Be user-centred: we know who our users are and build our services around their needs</li>
  <li>Deliver end-to-end: we come together as one department to design and deliver</li>
  <li>Empower ourselves and others: we feel safe to innovate and take the initiative</li>
  <li>Make evidence-based decisions: we use our data to make effective decisions and improvements.</li>
</ul>
    </div>
   </div> {% endblock %}
