
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="#" class="govuk-heading-s">Design
       </a>
    <p class="width-limit">Guidance, resources and tools for designing great user experiences for DfE services.</p>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="#" class="govuk-heading-s">Delivery
       </a>
    <p class="width-limit">Everything about delivery of services in DfE, including guidance for service owners, service patterns and a list of DfE services.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="#" class="govuk-heading-s">User Research
       </a>
    <p class="width-limit">Learn how we do user research, the tools we use, and find out what research already exists before you begin.</p>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="#" class="govuk-heading-s">Engineering and Architecture
       </a>
    <p class="width-limit">Digital technology guidance, as well as information on our technology stack and architecture.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="#" class="govuk-heading-s">Security and Information Assurance
       </a>
    <p class="width-limit">Security and information assurance policy, process and guidance for digital services - all in one place.</p>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
      <a href="#" class="govuk-heading-s">Commercial
       </a>
    <p class="width-limit">The commercial and procurement support, guidance and templates service owners need.</p>
  </div>
</div>
</div>
{% endblock %}
